<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col main pt-5 mt-3">
            <!-- <h1 class="display-4 d-none d-sm-block">
             Dashboard
            </h1> -->

            <!-- <div class="row mb-3">
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card bg-success text-white h-100">
                        <div class="card-body bg-success">
                            <div class="rotate">
                                <i class="fa fa-user fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Posted</h6>
                            <h1 class="display-4">134</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card text-white bg-danger h-100">
                        <div class="card-body bg-danger">
                            <div class="rotate">
                                <i class="fa fa-list fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Responses</h6>
                            <h1 class="display-4">87</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card text-white bg-info h-100">
                        <div class="card-body bg-info">
                            <div class="rotate">
                                <i class="fa fa-twitter fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Bids</h6>
                            <h1 class="display-4">125</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card text-white bg-warning h-100">
                        <div class="card-body">
                            <div class="rotate">
                                <i class="fa fa-share fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Notfications</h6>
                            <h1 class="display-4">36</h1>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--/row-->
            <!-- <hr> -->
            <h2 class="mt-5">Market Palce</h2>
            <div class="col-lg-12">
                <div class="card card-default card-body">
                    <ul id="tabsJustified" class="nav nav-tabs nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" href="" data-target="#tab1" data-toggle="tab">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" data-target="#tab2" data-toggle="tab">Responses <span class="badge badge-pill badge-dark">9</span></a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="" data-target="#tab3" data-toggle="tab">Post</a>
                        </li> -->
                    </ul>
                    <!--/tabs-->
                    <br>
                    <div id="tabsJustifiedContent" class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <app-farmer></app-farmer>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <app-response></app-response>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <div class="row placeholders mb-3">
                                <div class="col-6 col-sm-3 placeholder text-center">
                                    <img src="//placehold.it/200/dddddd/fff?text=1" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                                    <h4>Responsive</h4>
                                    <span class="text-muted">Device agnostic</span>
                                </div>
                                <div class="col-6 col-sm-3 placeholder text-center">
                                    <img src="//placehold.it/200/e4e4e4/fff?text=2" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                                    <h4>Frontend</h4>
                                    <span class="text-muted">UI / UX oriented</span>
                                </div>
                                <div class="col-6 col-sm-3 placeholder text-center">
                                    <img src="//placehold.it/200/d6d6d6/fff?text=3" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                                    <h4>HTML5</h4>
                                    <span class="text-muted">Standards-based</span>
                                </div>
                                <div class="col-6 col-sm-3 placeholder text-center">
                                    <img src="//placehold.it/200/e0e0e0/fff?text=4" class="center-block img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                                    <h4>Framework</h4>
                                    <span class="text-muted">CSS and JavaScript</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/tabs content-->
                </div><!--/card-->
            </div>
        </div>

        <!--/main col-->
    </div>

</div>