<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-6 font-weight-normal">Checkout our new Marketplace</h1>
        <div class="container">
            <div class="container d-flex justify-content-center">
                <div class="mt-5 p-4">
                    <div class="mb-3">
                        <div class="view">
                            <div class="btn-group btn-group-md" role="group">
                                <button class="btn btn-secondary" type="button">Farmer</button>
                                <button class="btn btn-secondary" type="button">Buyer</button>
                                <button class="btn btn-secondary" type="button">Vendor</button>
                            </div>
                        </div>
                    </div>
                    <span></span>
                    <div class="input-group input-group-lg mb-2">
                        <input type="text" class="form-control">
                        <div class="input-group-append"><button type="button" class="btn btn-primary"><i class="material-icons" style="font-size:24p">place</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>