<div class="card-body">
    <!-- Content Column -->
    <div class="col-lg-12 mb-4">
        <div class="container">
            <!-- Feature Cards -->
            <section class="d-flex">
                <div class="container d-flex justify-content-center">
                    <div class="row align-items-center">
                        <div class="col-12 align-self-center">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    <div class="shadow p-3 mb-5 bg-white rounded">
                                        <div class="card-body" [routerLink]="['/forms']">
                                            <div class="row">
                                                <div class="col mx-auto text-center">
                                                    <i class="fas fa-clipboard-list fa-4x text-info"></i>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12 text-center">
                                                    <p class="text-dark">Grading</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="mb-5 shadow p-3 bg-white rounded">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mx-auto text-center">
                                                    <i class="fa fa-desktop fa-4x text-warning"></i>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12 text-center">
                                                    <p class="text-dark">Request</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="mb-5 shadow p-3 bg-white rounded">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mx-auto text-center">
                                                    <i class="fas fa-hand-holding-usd fa-4x text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12 text-center">
                                                    <p class="text-dark">Buyer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="mb-5 shadow p-3 bg-white rounded">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mx-auto text-center">
                                                    <i class="fas fa-seedling fa-4x text-success"></i>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12 text-center">
                                                    <p class="text-dark">Farmer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="mb-5 shadow p-3 bg-white rounded">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mx-auto text-center">
                                                    <i class="fas fa-funnel-dollar fa-4x text-dark"></i>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12 text-center">
                                                    <p class="text-dark">Request</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>