.cardBody {
    padding: 1.25rem;
}
.Container {
    padding-right: 0px;
    padding-left: 0px;
}
.Col {
    padding-left: 4px;
    padding-right: 4px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .cardBody {
        padding: 0rem;
    }
  }